<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DataSource" value="talend-test.database.windows.net"/>
	<add key="InitialCatalog" value="RM_DSD"/>
	<add key="UserID" value="a-phillipco"/>
	<add key="Password" value="q1w2e3r4t5Q!W@E#R$T%"/>
	<add key="cust" value="DEMO"/>
	<add key="logPath" value="c:\CIS\BClog.txt"/>
		</appSettings>	
</configuration>