<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DataSource" value="talend-test.database.windows.net"/>
	<add key="InitialCatalog" value="CUSTOMERCONNECTION"/>
	<add key="UserID" value="DSDinterface"/>
	<add key="Password" value="User4Exchange!"/>
	<add key="cust" value="DEMO"/>
	<add key="logPath" value="c:\CIS\BClog.txt"/>
		</appSettings>	
</configuration>