<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DataSource" value="Dsd-sql.database.windows.net"/>
	<add key="InitialCatalog" value="CUSTOMERCONNECTION"/>
	<add key="UserID" value="DSDinterface"/>
	<add key="Password" value="User4Exchange!"/>
	<add key="cust" value="DEMO"/>
	<add key="logPath" value="c:\CIS\logs1\Outbound"/>
    <add key="prod" value="Y"/>
	<add key="email_tenantId" value="748a1891-c140-4292-94da-b1a5b2b4ef72"/>
	<add key="email_clientId" value="7577ea84-ed84-483e-852b-c12e1199798c"/>
	<add key="email_secret" value="vX98Q~YSWJKpjCDph2dxc85hbncetYmE2~Ldob_i"/>
	<add key="email_sender" value="support@harvestfoodsolutions.com"/>
	<add key="email_recipient" value="cody.phillips@harvestfoodsolutions.com"/>	
	</appSettings>	
</configuration>